:root {
  --white: white;
  --firebrick: #84362e;
  --coral: rgba(255, 131, 59, .46);
  --royal-blue: #547b8b;
  --salmon-2: #fc7d64;
  --dim-gray: #735260;
  --sandy-brown: #f1e8ce;
  --dark-slate-grey: rgba(39, 67, 75, .72);
  --dim-gray-2: #95b1aa;
  --dark-slate-gray: #718b91;
  --dark-slate-gray-2: #404047;
  --indian-red: #de4b29;
  --light-sky-blue: #7ebff8;
  --tomato: #e64c40;
  --silver: #bec3c7;
  --steel-blue-2: #2e80b6;
  --medium-violet-red: rgba(180, 86, 126, .8);
  --light-sea-green-3: rgba(0, 192, 177, .76);
  --dark-slate-grey-2: #133c49;
  --steel-blue: #3b99d9;
  --dark-khaki: #a8d069;
  --medium-sea-green: #30ad64;
  --light-sea-green: #25ccbf;
  --light-sea-green-2: #ece0c6;
  --khaki: #ed8b2d;
  --sandy-brown-2: #deaa5a;
  --salmon: #fd7072;
  --tan: #d39f9a;
  --indian-red-2: #af4173;
  --brown: #822e50;
  --white-smoke: #ecf0f1;
  --white-smoke-2: #f0f0f0;
  --white-smoke-3: #edeff2;
  --steel-blue-3: rgba(0, 115, 194, .5);
  --steel-blue-4: #3f7397;
  --light-slate-grey: #7b9dac;
}

body {
  height: 100%;
  color: var(--white);
  font-family: museo-sans-rounded, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Exo, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

h6 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  text-decoration: underline;
}

li {
  margin-bottom: 10px;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #cf404d;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  transition: background-color .3s;
  display: inline-block;
}

.button:hover {
  background-color: #000;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.hamburger-button {
  background-color: var(--firebrick);
  border-radius: 8px;
  margin-top: 5px;
  margin-right: 5px;
  transition: background-color .2s;
}

.hamburger-button:hover {
  background-color: rgba(146, 23, 10, .65);
}

.hamburger-button.w--open {
  background-color: rgba(0, 0, 0, 0);
}

.section {
  background-color: rgba(0, 0, 0, 0);
  padding: 100px 40px;
}

.section.badanie {
  background-color: var(--coral);
}

.section.badanie.b {
  background-color: var(--royal-blue);
  padding-top: 0;
}

.section.kontakt {
  background-color: var(--salmon-2);
}

.section.dojazd {
  background-color: rgba(230, 76, 64, .63);
}

.section.co {
  margin-top: -100px;
  padding-top: 100px;
}

.section.polityka {
  margin-top: 250px;
}

.section.zakres {
  background-color: var(--dim-gray);
}

.section.reklama {
  height: 700px;
  background-color: #fff;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.section_cennik {
  color: #fff;
  justify-content: center;
  margin-top: 347px;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  overflow: hidden;
}

.hero-heading {
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: pre-wrap;
  object-fit: scale-down;
  margin-bottom: 70px;
  font-family: museo-sans-rounded, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-decoration: none;
}

.hero-heading.special {
  margin-bottom: 20px;
}

.hero-subheading {
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 21px;
  font-weight: 700;
  line-height: 28px;
}

.section-heading {
  margin-bottom: 16px;
}

.section-heading.centered {
  color: var(--sandy-brown);
  text-align: center;
  text-transform: uppercase;
}

.section-subheading.center {
  color: var(--sandy-brown);
  text-align: center;
  font-family: Droid Sans, sans-serif;
  font-size: 19px;
  line-height: 30px;
}

.section-subheading.center.kontakt {
  color: var(--white);
  font-family: museo-sans-rounded, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
}

.section-title-group {
  margin-bottom: 40px;
  position: relative;
}

.form-field {
  min-height: 45px;
  border: 0 solid #000;
  border-radius: 10px;
  margin-bottom: 17px;
  margin-right: 1px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, .3);
}

.form-field:focus {
  box-shadow: 0 0 0 1px #2e80b6;
}

.form-field.text-area {
  min-height: 110px;
  background-color: var(--white);
}

.form-wrapper.squeezed {
  padding-left: 19%;
  padding-right: 19%;
  display: none;
}

.social-icon-link {
  opacity: .66;
  padding: 3px;
  transition: opacity .3s;
}

.social-icon-link:hover {
  opacity: 1;
}

.grid-image {
  margin-bottom: 19px;
}

.hero-title-wrapper {
  text-align: center;
  margin-bottom: 0;
  position: relative;
}

.left-navigation {
  width: 329px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.left-navigation.mobile {
  display: none;
}

.nav-link {
  color: var(--white);
  text-align: left;
  text-transform: uppercase;
  margin-left: 0;
  margin-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 22px;
  line-height: 28px;
  transition: letter-spacing .2s ease-in-out;
}

.nav-link:hover {
  letter-spacing: 1.2px;
}

.nav-link.w--current {
  color: var(--dim-gray-2);
  text-align: left;
  margin-left: 41px;
}

.nav-menu {
  float: none;
  background-color: var(--dark-slate-grey);
  flex-direction: column;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.social-footer {
  text-align: center;
  margin-bottom: 16px;
  margin-left: 40px;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-fours {
  width: 25%;
  float: left;
  padding: 10px;
  display: none;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(113, 139, 145, 0) 62%, rgba(113, 139, 145, .71) 84%, rgba(113, 139, 145, .95) 94%, var(--dark-slate-gray)), url('../images/Rezonans-FC_Visual_2_2048px.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  padding-top: 360px;
}

.column-0-padding {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: static;
}

.content {
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.success-message {
  text-align: center;
}

.paragraph-form {
  margin-bottom: 0;
}

.logo_rfc {
  z-index: 1;
  width: 180px;
  margin-left: 20px;
  margin-right: 40px;
}

.body {
  background-color: var(--dark-slate-gray);
  flex-direction: column;
  align-items: center;
  display: flex;
}

.image-2 {
  border-radius: 10px;
}

.noise {
  width: 100vw;
  height: 100%;
  opacity: .4;
  object-fit: none;
  background-image: url('../images/grey-noise-texture.jpg');
  background-size: 400px;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.darken {
  background-color: var(--dark-slate-gray-2);
  opacity: .27;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-3 {
  border-radius: 20px;
}

.div-mapa {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.paragraph, .paragraph-2, .paragraph-3, .paragraph-4 {
  display: none;
}

.text-block {
  margin-top: 33px;
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;
}

.heading {
  color: var(--white);
  text-align: left;
  text-decoration: none;
}

.columns {
  opacity: 1;
  padding-top: 40px;
  position: relative;
}

.heading-2 {
  color: var(--white);
  margin-left: 18px;
}

.heading-3 {
  color: var(--white);
  margin-left: 22px;
  text-decoration: none;
}

.link-2, .link-3 {
  color: var(--white);
  text-decoration: none;
}

.kontakt-txt-block {
  text-align: center;
  font-size: 22px;
  line-height: 32px;
}

.container-2 {
  display: none;
}

.heading-5, .link-4, .link-5, .link-6 {
  color: var(--white);
  text-decoration: none;
}

.txt_stopka_male {
  color: #fff;
  margin-top: 0;
  font-size: 14px;
  font-weight: 100;
  line-height: 18px;
  text-decoration: none;
}

.txt_stopka_male:hover {
  font-weight: 500;
}

.link_media {
  opacity: .74;
  margin: 5px 10px 10px;
  transition: opacity .2s, transform .2s;
}

.link_media:hover {
  opacity: 1;
  transform: translate(0, -3px);
}

.link-block {
  color: #fff;
  margin-top: 2px;
  margin-bottom: 2px;
  text-decoration: none;
  transition: letter-spacing .2s;
}

.link-block:hover {
  letter-spacing: .7px;
}

.link-block._2 {
  opacity: .76;
  text-decoration: underline;
}

.txt_link {
  transition: letter-spacing .2s, opacity .2s, transform .2s;
}

.txt_link:hover {
  opacity: 1;
  letter-spacing: 1px;
  text-decoration: underline;
  transform: none;
}

.logo_fc_drzewko {
  opacity: .5;
  margin-bottom: 5px;
}

.logo_face-clinic {
  opacity: .6;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  display: flex;
  position: relative;
}

.stopka_right {
  opacity: .7;
  flex-direction: column;
  flex: none;
  display: flex;
  position: relative;
}

.artrepublica_link {
  color: #fff;
  margin-left: 0;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
}

.link {
  color: #fff;
  text-transform: uppercase;
  margin-left: 0;
  margin-right: 40px;
  text-decoration: none;
}

.stopka {
  height: 160px;
  background-color: #6b6b6b;
  flex-direction: column;
  display: flex;
  position: static;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.container-3 {
  height: 0;
}

.div-block-6 {
  margin-left: 20px;
  margin-right: 20px;
}

.div_links_stopka_right_up {
  margin-left: -33px;
  padding-left: 0;
  display: flex;
}

.div_stopka {
  height: 100%;
  background-color: var(--dark-slate-grey);
  opacity: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.txt_polityka_prywatnosci-2 {
  color: var(--white);
}

.logo {
  width: 600px;
}

.container-4 {
  position: relative;
}

.container-5 {
  position: relative;
  overflow: hidden;
}

.co-robimy {
  z-index: 1;
  position: relative;
}

.link_logo_rfc {
  z-index: 10;
  margin-top: 20px;
  transition: opacity .2s;
  display: none;
  position: fixed;
}

.link_logo_rfc:hover {
  opacity: .65;
}

.container-7 {
  position: relative;
}

.container-txt {
  margin-top: 250px;
  position: relative;
}

.container-txt.end {
  margin-top: 0;
}

.navbar {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(39, 67, 75, .78);
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav_desktop {
  color: var(--white);
  text-transform: uppercase;
  align-items: center;
  padding: 20px 10px;
  font-size: 14px;
  text-decoration: none;
  transition: color .2s, transform .2s;
}

.nav_desktop:hover {
  color: var(--dim-gray-2);
  transform: translate(0, -3px);
}

.nav_desktop.drop {
  padding: 10px 20px 15px;
}

.nav_desktop.drop.w--current {
  color: var(--white);
}

.nav_desktop.drop._2 {
  color: #a6bdc7;
  text-transform: none;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px;
  font-weight: 100;
}

.nav_desktop.drop._2._3, .nav_desktop.drop._2._3.w--current {
  text-transform: none;
}

.nav_desktop._2 {
  padding: 10px 20px;
}

.film-box-button {
  flex-direction: row;
  justify-content: space-around;
  align-self: stretch;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
}

.accordian-wrapper {
  background-color: rgba(107, 157, 168, .2);
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.accordian-wrapper.r {
  background-color: rgba(63, 116, 163, .2);
  align-self: stretch;
  margin-top: 5px;
}

.accordian-item-content {
  background-color: var(--light-sky-blue);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  align-self: stretch;
  display: flex;
  overflow: hidden;
}

.accordian-item-trigger {
  color: #8acfdf;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: letter-spacing .2s, text-indent .2s, background-color .2s;
  overflow: hidden;
}

.accordian-item-trigger:hover {
  letter-spacing: .2px;
  background-color: rgba(107, 157, 168, .25);
}

.accordian-item-trigger.r {
  color: #7ebff8;
  justify-content: space-between;
  align-self: stretch;
  display: flex;
}

.accordian-item-trigger.r:hover {
  background-color: rgba(75, 136, 190, .28);
}

.round-16 {
  max-width: 980px;
  background-color: rgba(9, 20, 27, .9);
  border: 1px rgba(255, 255, 255, .6);
  border-radius: 16px;
  flex-direction: column;
  flex: 0 auto;
  align-self: auto;
  padding-bottom: 10px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.accordian-content {
  flex: 1;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.link_film {
  color: #8acfdf;
  background-color: rgba(107, 157, 168, .2);
  border: 1px dashed #8acfdf;
  border-radius: 8px;
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-items: stretch;
  margin: 5px;
  font-size: 15px;
  transition: opacity .2s, background-color .2s, transform .2s;
  display: flex;
  overflow: hidden;
}

.link_film:hover {
  opacity: .7;
  transform: translate(0, 1px);
}

.link_film.r {
  color: #7ebff8;
  background-color: rgba(63, 116, 163, .2);
  border-color: #4b88be;
}

.heading-4-tytul-zabiegow {
  color: #8acfdf;
  margin-top: 0;
  margin-bottom: 0;
}

.heading-4-tytul-zabiegow.regular {
  color: #7ebff8;
  padding-right: 20px;
}

.heading-4-tytul-zabiegow.regular.right {
  border-left: 1px solid var(--light-sky-blue);
  text-align: right;
  flex: none;
  padding-left: 10px;
  padding-right: 0;
}

.div-block-54 {
  align-items: flex-start;
  padding-top: 10px;
  display: flex;
  overflow: hidden;
}

.text-block-21 {
  border-left: 1px dashed #4b88be;
  align-self: stretch;
  align-items: center;
  padding: 7px 15px;
  display: flex;
}

.image-13 {
  width: 50px;
  height: 60px;
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
}

.box-zabiegi {
  flex-direction: column;
  display: flex;
}

.paragraph-txt-box {
  width: 100%;
  color: #8acfdf;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  overflow: hidden;
}

.paragraph-txt-box.r {
  color: #000;
  text-align: left;
  align-items: flex-start;
}

.paragraph-txt-box.r.cena_zastrzezenie {
  width: auto;
  color: var(--light-sky-blue);
  flex-direction: column;
  align-items: stretch;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 12px;
}

.accordian-item {
  flex-direction: column;
  flex: 1;
  display: flex;
  overflow: hidden;
}

.box-kategoria-tytul {
  border: 1px rgba(255, 255, 255, .6);
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  margin-bottom: -14px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  position: static;
  overflow: hidden;
}

.przerwa-10 {
  flex-direction: column;
  padding-bottom: 5px;
  display: none;
}

.box-kategotia-zawartosc {
  flex-direction: column;
  display: flex;
}

.bold-text.left_20 {
  padding-left: 0;
}

.text-block-22 {
  align-items: center;
  margin-bottom: 16px;
  padding-left: 20px;
  display: flex;
}

.div-block-55 {
  align-items: center;
  display: flex;
}

.div-block-56 {
  width: 1px;
  height: 40px;
  background-color: var(--white);
}

.div-block-57 {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  display: flex;
}

.logo_link {
  transition: opacity .2s;
}

.logo_link:hover {
  opacity: .5;
}

.prom {
  z-index: 1;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(132, 54, 46, .49);
  border-radius: 20px;
  margin-top: 80px;
  margin-right: 20px;
  padding: 15px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.prom.mobile {
  display: none;
}

.promocja_txt {
  color: var(--sandy-brown);
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.promocja_tyt {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}

.promocja_uwaga {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: 300;
}

.kreska_poziom_czerwona_1px {
  height: 1px;
  opacity: .67;
  background-color: rgba(252, 125, 100, .75);
}

.italic-text {
  line-height: 16px;
}

.zadzwon-teraz {
  z-index: 8;
  display: none;
  position: fixed;
}

.zadzwon {
  width: 70px;
  height: 70px;
  background-color: var(--tomato);
  border-radius: 100px;
  margin-bottom: 140px;
  margin-right: 40px;
  transition: height .3s, width .3s;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
  box-shadow: -3px 10px 11px -5px rgba(9, 43, 59, .6);
}

.zadzwon:hover {
  width: 75px;
  height: 75px;
  box-shadow: -3px 12px 20px -7px rgba(9, 43, 59, .85);
}

.promocja {
  z-index: 2;
  position: relative;
}

.picture {
  z-index: 1;
  position: relative;
}

.picture._2 {
  background-image: url('../images/Rezonans-FC_2048px-2.jpg');
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
}

.picture._3 {
  background-image: url('../images/Rezonans-FC_2048px-3.jpg');
}

.picture._4 {
  background-image: url('../images/Rezonans-FC_2048px-4.jpg');
}

.picture._5 {
  background-image: url('../images/Rezonans-FC_2048px-5.jpg');
}

.picture._6 {
  background-image: url('../images/Rezonans-FC_2048px-6.jpg');
}

.picture._7 {
  background-image: url('../images/Rezonans-FC_2048px-7.jpg');
}

.picture._8 {
  background-image: url('../images/Rezonans-FC_2048px-8.jpg');
}

.picture._9 {
  background-image: url('../images/Rezonans-FC_2048px-9.jpg');
}

.picture._10 {
  background-image: url('../images/Rezonans-FC_2048px-10.jpg');
}

.p {
  z-index: 1;
  width: 2048vw;
  margin-top: 3px;
  margin-bottom: 3px;
  position: relative;
}

.div-block-58 {
  flex-direction: column;
  margin-bottom: 22px;
  display: flex;
}

.div-block-59 {
  padding-left: 40px;
}

.div-block-60 {
  flex-direction: column;
  display: flex;
}

.baner-wskazowki {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, var(--coral), var(--coral)), linear-gradient(to bottom, rgba(113, 139, 145, 0) 63%, var(--dark-slate-gray)), url('../images/LEONARDO.jpg');
  background-position: 0 0, 0 0, 50%;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
  padding-top: 360px;
}

.link-7, .link-8, .link-9 {
  color: var(--white);
  text-transform: uppercase;
  white-space: pre-wrap;
}

.button-2 {
  text-transform: uppercase;
  background-color: rgba(240, 240, 240, .29);
  border-radius: 6px;
  margin-top: 25px;
  font-weight: 700;
}

.adres-tablet {
  color: var(--silver);
  text-align: center;
  position: relative;
}

.text-span, .text-span-2 {
  color: var(--white);
  text-decoration: underline;
}

.adres {
  opacity: .8;
  text-align: center;
  position: relative;
}

.kreska-100 {
  width: 1px;
  height: 100px;
  background-color: var(--silver);
  margin-left: 20px;
  margin-right: 20px;
}

.div-block-61 {
  background-color: var(--dark-slate-grey);
  padding: 20px 40px;
  display: none;
}

.google {
  flex-direction: column;
  align-items: center;
  position: relative;
}

.mapa_google {
  background-color: var(--steel-blue-2);
}

.section_google {
  background-color: #cfa891;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -6px;
}

.div-block-62 {
  background-color: rgba(255, 255, 255, .25);
}

.baner {
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(252, 125, 100, 0) 61%, var(--salmon-2)), url('../images/Rezonans-FC_WEB_Kontakt.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  padding-top: 360px;
}

.promo_50 {
  z-index: 2;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  position: absolute;
  top: 80px;
  left: 20px;
}

.promocja_bld {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 700;
}

.promocja_bld.off {
  display: none;
}

.nad_logo {
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: pre-line;
  object-fit: scale-down;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  overflow: hidden;
}

.link-10 {
  color: #fff;
}

.section-reklama {
  background-color: #fff;
}

.html-widget-kontakt {
  z-index: 10;
  position: absolute;
}

.text-span-3 {
  color: #fff;
  text-transform: none;
  text-decoration: none;
  display: inline-block;
}

.special_nr_character {
  color: #fff;
  -webkit-text-fill-color: transparent;
  background-color: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  text-decoration: none;
}

.list-item {
  line-height: 1.5;
}

.list {
  font-weight: 700;
}

.baner-badania {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(63, 115, 151, 0) 66%, rgba(77, 120, 143, .65) 85%, var(--royal-blue)), linear-gradient(to bottom, var(--medium-violet-red), var(--light-sea-green-3)), url('../images/TLO_FAKE-50.jpg');
  background-position: 0 0, 0 0, 50%;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
  padding-top: 360px;
}

.baner-badania.glowa {
  background-image: linear-gradient(to bottom, rgba(63, 115, 151, 0) 66%, rgba(77, 120, 143, .65) 85%, var(--royal-blue)), linear-gradient(to bottom, var(--medium-violet-red), var(--light-sea-green-3)), url('../images/RFC-ICONs-Glowa.svg'), url('../images/TLO_FAKE-50.jpg');
  background-position: 0 0, 0 0, 50%, 50%;
  background-repeat: repeat, repeat, no-repeat, no-repeat;
  background-size: auto, auto, 70% 70%, cover;
}

.baner-badania.brzuch {
  background-image: linear-gradient(to bottom, rgba(63, 115, 151, 0) 66%, rgba(77, 120, 143, .65) 85%, var(--royal-blue)), linear-gradient(to bottom, var(--medium-violet-red), var(--light-sea-green-3)), url('../images/RFC-ICONs-Miednica.svg'), url('../images/TLO_FAKE-50.jpg');
  background-position: 0 0, 0 0, 50%, 50%;
  background-repeat: repeat, repeat, no-repeat, no-repeat;
  background-size: auto, auto, 70% 70%, cover;
}

.baner-badania.kregoslup {
  background-image: linear-gradient(to bottom, rgba(63, 115, 151, 0) 66%, rgba(77, 120, 143, .65) 85%, var(--royal-blue)), linear-gradient(to bottom, var(--medium-violet-red), var(--light-sea-green-3)), url('../images/RFC-ICONs-Kregoslup.svg'), url('../images/TLO_FAKE-50.jpg');
  background-position: 0 0, 0 0, 50%, 50%;
  background-repeat: repeat, repeat, no-repeat, no-repeat;
  background-size: auto, auto, 70% 70%, cover;
}

.baner-badania.staw {
  background-image: linear-gradient(to bottom, rgba(63, 115, 151, 0) 66%, rgba(77, 120, 143, .65) 85%, var(--royal-blue)), linear-gradient(to bottom, var(--medium-violet-red), var(--light-sea-green-3)), url('../images/RFC-ICONs-Staw.svg'), url('../images/TLO_FAKE-50.jpg');
  background-position: 0 0, 0 0, 50%, 50%;
  background-repeat: repeat, repeat, no-repeat, no-repeat;
  background-size: auto, auto, 70% 70%, cover;
}

.link_badania {
  opacity: .5;
  text-decoration: none;
  transition: opacity .2s;
}

.link_badania:hover {
  opacity: 1;
}

.dropdown_manu {
  color: var(--white);
  background-color: #27434b;
}

.dropdown-list {
  background-color: #27434b;
}

.dropdown-list.w--open {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(39, 67, 75, .78);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
}

.dropdown-list._2 {
  flex-direction: column;
  align-items: flex-start;
}

.icon-2 {
  margin-right: 10px;
}

.icon-2._2 {
  margin-right: 15px;
}

.text-block-24 {
  padding-right: 20px;
}

.txt-button-menu-home {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 0;
  display: flex;
  position: static;
}

.bx4 {
  height: 190px;
  background-color: var(--dark-slate-grey);
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 15px;
  display: none;
}

.dystans-10 {
  width: 15px;
}

.bx2 {
  display: flex;
}

.div-button-home {
  width: 140px;
  opacity: .95;
  cursor: pointer;
  background-color: #fff;
  border-radius: 20%;
  transition: box-shadow .2s, transform .2s, opacity .2s;
}

.div-button-home:hover {
  opacity: 1;
  transform: translate(0, -3px);
  box-shadow: 0 13px 10px rgba(0, 0, 0, .2);
}

.link-block-2 {
  color: #313131;
}

.link-block-2.face-pro, .link-block-2.rezonansfc {
  display: none;
}

.button_home {
  max-width: 120px;
  min-width: 140px;
  background-color: #5a5c61;
  border-radius: 20%;
  align-self: stretch;
}

.button_home.lab {
  background-color: #44b2e8;
  border-style: none;
}

.button_home.rfc {
  background-color: #fa8d20;
  border-style: none;
}

.button_home.pro {
  background-color: #d3e736;
  border-style: none;
}

.dropdown-toggle {
  padding-top: 10px;
  padding-bottom: 10px;
}

.link-11 {
  color: var(--dark-slate-grey-2);
  background-color: rgba(255, 255, 255, .5);
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 300;
  text-decoration: none;
  transition: transform .2s, background-color .2s;
}

.link-11:hover {
  background-color: #fff;
  transform: translate(0, -2px);
}

@media screen and (max-width: 991px) {
  body {
    margin-left: 0;
    padding-left: 0;
  }

  .hamburger-button {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    transition: none;
  }

  .hamburger-button:hover, .hamburger-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .section.badanie.wskazowki {
    padding-top: 0;
  }

  .section.badanie.b {
    background-color: var(--royal-blue);
  }

  .section.kontakt {
    padding-top: 0;
  }

  .section.co {
    margin-top: 0;
    padding-top: 0;
  }

  .section.polityka {
    margin-top: 0;
  }

  .section_cennik {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero-heading {
    margin-bottom: 200px;
    font-size: 30px;
    line-height: 35px;
  }

  .hero-heading.kontakt {
    margin-bottom: 393px;
  }

  .hero-heading.special {
    margin-top: -40px;
  }

  .form-wrapper.squeezed {
    padding-left: 8%;
    padding-right: 8%;
  }

  .hero-title-wrapper {
    margin-top: 10px;
  }

  .left-navigation {
    width: 100%;
    height: auto;
    float: none;
    display: block;
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
  }

  .left-navigation.mobile {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(39, 67, 75, .78);
    background-image: none;
    background-position: 0 0;
    background-size: auto;
    display: block;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-link.down {
    text-transform: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 0;
  }

  .nav-menu {
    width: 100vw;
    background-color: var(--dark-slate-grey);
    opacity: 1;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    -webkit-text-fill-color: inherit;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    align-items: flex-start;
    padding-top: 60px;
  }

  .social-footer {
    display: inline-block;
    position: absolute;
  }

  .grid-fours {
    display: block;
  }

  .banner {
    height: 600px;
    padding-top: 20px;
  }

  .logo_rfc {
    width: 200px;
    margin-top: -5px;
    margin-left: 20px;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .div-block-8 {
    text-align: center;
    margin-top: 9px;
  }

  .link-block {
    margin-bottom: 10px;
  }

  .logo_fc_drzewko {
    margin-bottom: 15px;
  }

  .logo_face-clinic {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .link {
    margin-right: 0;
  }

  .stopka {
    height: 550px;
    flex-direction: column;
  }

  .div_links_stopka_right_up {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

  .div-block-5 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .div_stopka {
    flex-direction: column;
    justify-content: center;
  }

  .link_logo_rfc {
    margin-top: 20px;
    margin-left: 0;
    display: block;
  }

  .container-txt {
    margin-top: -29px;
  }

  .navbar {
    display: none;
  }

  .nav_desktop.drop._2 {
    justify-content: space-between;
    padding-left: 20px;
    display: flex;
  }

  .nav_desktop._2 {
    text-transform: none;
    padding-left: 50px;
    font-size: 18px;
    transition: letter-spacing .2s, color .2s;
  }

  .nav_desktop._2:hover {
    letter-spacing: 1.2px;
    transform: none;
  }

  .nav_desktop._2.w--open {
    display: flex;
  }

  .accordian-wrapper {
    flex-direction: column;
    display: flex;
  }

  .accordian-wrapper.r {
    flex-direction: row;
  }

  .div-block-54 {
    flex-direction: column;
    align-items: stretch;
  }

  .div-block-57 {
    text-align: center;
    align-items: center;
    margin-left: 0;
  }

  .prom {
    display: none;
  }

  .prom.mobile {
    border-radius: 0;
    margin-top: 0;
    margin-right: 0;
    padding: 72px 10px 10px;
    display: block;
    position: relative;
  }

  .promocja_txt {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
  }

  .promocja_tyt {
    text-align: center;
    padding-bottom: 3px;
    font-size: 18px;
  }

  .promocja_uwaga {
    text-align: center;
    padding-top: 3px;
    font-size: 10px;
  }

  .zadzwon {
    margin-top: 235px;
    margin-bottom: 0;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .picture._2 {
    background-size: contain;
  }

  .baner-wskazowki {
    height: 800px;
    padding-top: 20px;
  }

  .adres-tablet {
    color: #bec3c7;
    white-space: normal;
  }

  .adres {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .kreska-100, .div-block-61 {
    display: none;
  }

  .baner {
    height: 800px;
    padding-top: 20px;
  }

  .promo_50 {
    font-size: 12px;
    line-height: 16px;
    top: 233px;
  }

  .nad_logo {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 40px;
  }

  .nad_logo.home {
    padding-top: 18px;
  }

  .nad_logo.wskazowki {
    padding-top: 188px;
  }

  .baner-badania {
    height: 800px;
    padding-top: 20px;
  }

  .dropdown-list.w--open {
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    align-items: flex-start;
  }

  .icon-2._2 {
    margin-right: 40px;
  }

  .dropdown-list-2 {
    background-color: rgba(0, 0, 0, 0);
  }

  .dropdown-list-2.w--open {
    margin-bottom: 20px;
  }

  .div-button-home {
    max-width: 140px;
  }

  .przerywana {
    width: 100vw;
    border-bottom: 1px dashed var(--royal-blue);
    padding-bottom: 0;
    padding-right: 0;
  }

  .przerywana._2 {
    margin-left: 40px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    margin-top: 10px;
  }

  .section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section_cennik {
    padding-left: 0;
    padding-right: 0;
  }

  .hero-heading {
    margin-bottom: 176px;
    font-size: 20px;
    line-height: 25px;
  }

  .hero-heading.kontakt {
    margin-bottom: 214px;
  }

  .hero-heading.special {
    font-size: 30px;
  }

  .hero-subheading {
    font-size: 20px;
    line-height: 25px;
  }

  .section-title-group {
    position: relative;
  }

  .grid-image {
    margin-bottom: 0;
  }

  .hero-title-wrapper {
    margin-top: 34px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-link {
    margin-left: 0;
  }

  .grid-fours {
    width: 33.333%;
  }

  .column-0-padding {
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .column-remove-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
    display: none;
  }

  .heading {
    text-align: center;
    font-size: 22px;
  }

  .heading-2 {
    text-transform: none;
    margin-left: 0;
    font-size: 22px;
  }

  .heading-3 {
    margin-left: 0;
    font-size: 22px;
  }

  .container-2 {
    z-index: 1;
    display: block;
    position: relative;
  }

  .bus_nr {
    background-color: var(--indian-red);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .bus_nr.black {
    background-color: #000;
  }

  .div-block-2 {
    justify-content: center;
    display: flex;
  }

  .heading-4 {
    text-transform: none;
    font-size: 22px;
  }

  .heading-5 {
    font-size: 22px;
  }

  .txtt_22 {
    font-size: 22px;
    line-height: 30px;
  }

  .txt_32 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
  }

  .div-block-8 {
    margin-top: 9px;
  }

  .stopka_right {
    text-align: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .link {
    margin-right: 0;
  }

  .div_links_stopka_right_up {
    flex-direction: column;
    margin-left: 0;
  }

  .div-block-5 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .txt_polityka_prywatnosci, .txt_polityka_prywatnosci-2 {
    width: 90%;
  }

  .logo {
    width: 400px;
  }

  .div-block-9 {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
  }

  .txt_d {
    font-size: 18px;
    line-height: 24px;
  }

  .accordian-item-trigger:focus {
    background-color: rgba(107, 157, 168, .35);
  }

  .round-16 {
    width: auto;
    align-self: stretch;
    margin-left: 10px;
    margin-right: 10px;
  }

  .heading-4-tytul-zabiegow.regular.right {
    flex: none;
  }

  .box-kategoria-tytul {
    align-self: stretch;
  }

  .bold-text {
    padding-left: 20px;
  }

  .zadzwon {
    margin-right: 10px;
  }

  .baner-wskazowki {
    height: 600px;
    background-image: linear-gradient(to bottom, var(--coral), var(--coral)), linear-gradient(to bottom, rgba(113, 139, 145, 0) 63%, var(--dark-slate-gray)), url('../images/LEONARDO.jpg');
    background-position: 0 0, 0 0, 50%;
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    padding-top: 1px;
  }

  .div-block-61 {
    display: none;
  }

  .baner {
    height: 600px;
  }

  .promo_50 {
    top: 254px;
  }

  .nad_logo {
    font-size: 20px;
    line-height: 30px;
  }

  .nad_logo.home {
    padding-top: 45px;
  }

  .nad_logo.wskazowki {
    padding-top: 106px;
  }

  .nad_logo.kontakt {
    padding-top: 37px;
  }

  .baner-badania {
    height: 600px;
    padding-top: 1px;
  }

  .txt-button-menu-home {
    font-size: 12px;
  }

  .div-button-home {
    max-width: 100px;
    min-height: 89px;
    min-width: auto;
  }

  .button_home {
    max-width: 100px;
    min-width: auto;
  }
}

@media screen and (max-width: 479px) {
  .section {
    margin-top: 0;
  }

  .hero-heading {
    font-size: 16px;
    line-height: 1.25;
  }

  .hero-heading.kontakt {
    margin-bottom: 253px;
  }

  .hero-heading.special {
    font-size: 150%;
  }

  .hero-heading.wskazowki {
    font-size: 14px;
    line-height: 1.25;
  }

  .hero-subheading {
    font-size: 16px;
    line-height: 20px;
  }

  .form-wrapper.squeezed {
    padding-left: 2%;
    padding-right: 2%;
  }

  .hero-title-wrapper {
    margin-top: 28px;
  }

  .nav-link {
    text-align: center;
  }

  .nav-link.down {
    padding-left: 20px;
  }

  .nav-menu {
    text-align: center;
  }

  .banner {
    background-position: 0 0, 45%;
  }

  .logo_rfc {
    width: 150px;
    margin-top: -2px;
    margin-right: 0;
  }

  .stopka {
    height: 600px;
  }

  .div_stopka, .logo {
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav_desktop._2 {
    padding-left: 20px;
  }

  .film-box-button {
    flex-direction: column;
  }

  .link_film {
    flex: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
  }

  .heading-4-tytul-zabiegow.regular {
    font-size: 16px;
    line-height: 22px;
  }

  .heading-4-tytul-zabiegow.regular.right {
    text-align: right;
  }

  .image-13 {
    width: 30px;
  }

  .zadzwon {
    width: 60px;
    height: 60px;
    margin-top: 252px;
  }

  .baner-wskazowki {
    height: 500px;
  }

  .adres {
    padding-left: 10px;
    padding-right: 10px;
  }

  .promo_50 {
    top: 358px;
  }

  .nad_logo {
    font-size: 20px;
    line-height: 25px;
  }

  .nad_logo.home {
    padding-top: 68px;
  }

  .nad_logo.wskazowki {
    padding-top: 48px;
  }

  .nad_logo.kontakt {
    padding-top: 20px;
  }

  .baner-badania {
    height: 500px;
  }

  .container-badania {
    padding-top: 40px;
  }

  .icon-2._2 {
    margin-right: 0;
  }

  .text-block-24 {
    padding-right: 10px;
  }

  .dropdown-list-2.w--open {
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .bx4 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .bx2 {
    flex-direction: row;
    margin-bottom: 15px;
  }
}


